{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{template "title" .}}</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Posts</a> |
      {{if .SessionInfo}}
      <a href="/new/">Submit</a> |
      <a href="/logout/">Logout</a> |
      <a href="/profile/{{.SessionInfo.Name}}">{{.SessionInfo.Name}}</a>
      {{else}}
      <a href="/login/">Login</a>
      {{end}}
    </nav>
    {{template "content" .}}
  </body>
</html>
{{end}}
